# Pandas - Data Analysis Library - Clean,Remove,Analysis

In [1]:
# pip install pandas

In [2]:
import pandas as pd

In [3]:
pd.__version__  # (if output it comes already install in Package.Otherwise,Not install )

'1.4.4'

In pandas,there are two varient available ( Series and Dataframe(dfd))

In [5]:
# Create pandas series

# Labels - Index by default start with 0

a=['Hi','Hello','Welcome']

values=pd.Series(a)

print(values)

0         Hi
1      Hello
2    Welcome
dtype: object

In [6]:
# Create pandas series with custom lables

a=['Hii','Hello','Welcome']

value=pd.Series(a,index=['msg1','msg2','msg3'])  # We can also change the label name.
print(value)

msg1        Hii
msg2      Hello
msg3    Welcome
dtype: object

In [7]:
# Create a Pandas Series from a Dictionary

data={'a':[1,2,3],'b':[4,5,6]}

printdata=pd.Series(data)

print(printdata)

a    [1, 2, 3]
b    [4, 5, 6]
dtype: object

In [8]:
# Creating a Pandas Series from a dictionary with specific Keys

data={'a':[1,2,3],'b':[4,5,6],'c':[7,8,9]}

Datavalue=pd.Series(data,index=['a','c'])

print(Datavalue)

a    [1, 2, 3]
c    [7, 8, 9]
dtype: object

In [9]:
# Create a dataframe from two series

data={'a':[1,2,3,4],'b':[5,6,7,8]}

Datavalues=pd.DataFrame(data)  # Dataframe is used to print with column name and specific with indexx Number

print(Datavalues)

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [15]:
# Specific the order of columns and define the index of the dataframe.

Datavalues=pd.DataFrame({'value':[100,200,300],'color':['Red','Blue','Green']},columns=['color_id','color'],index=['val_1','val_2','val_3'])

# Here,we can also change clmn name and index

print(Datavalues)

      color_id  color
val_1      NaN    Red
val_2      NaN   Blue
val_3      NaN  Green

In [16]:
Datavalues=pd.DataFrame({'value':[100,200,300],'color':['Red','Blue','Green']},index=['val_1','val_2','val_3'])

print(Datavalues)

       value  color
val_1    100    Red
val_2    200   Blue
val_3    300  Green

In [18]:
# Create a DataFrame from a list of lists

pd.DataFrame([[100,'Red'],[200,'Blue'],[300,'Green']],columns=['Value','Obj_name'])

   Value Obj_name
0    100      Red
1    200     Blue
2    300    Green

In [19]:
# Create a NumPy array

import numpy as np

arr=np.random.rand(4,2)
print(arr)

[[0.48230053 0.40466965]
 [0.17263797 0.17825661]
 [0.68138027 0.39510928]
 [0.48464102 0.34145176]]

In [21]:
# Create a Dataframe from the Numpy array


import numpy as np

arr=np.random.rand(4,2)
print(arr)

print()

pd.DataFrame(arr,columns=['Ones',"Two's"])

[[0.04897506 0.65926598]
 [0.71969306 0.02237476]
 [0.00535709 0.04953584]
 [0.44831006 0.37062262]]

       Ones     Two's
0  0.048975  0.659266
1  0.719693  0.022375
2  0.005357  0.049536
3  0.448310  0.370623

In [22]:
data={'a':[1,2,3],'b':[4,5,6]}
df=pd.DataFrame(data)
print(df)

   a  b
0  1  4
1  2  5
2  3  6

In [23]:
# loc (means Locate) to return one or more Specified rows-return a series

data={'a':[1,2,3],'b':[4,5,6]}
df=pd.DataFrame(data)
print(df)

print()

df.loc[1]     # It's is used to print based on index value and print Locate value.

   a  b
0  1  4
1  2  5
2  3  6

a    2
b    5
Name: 1, dtype: int64

In [25]:
data={'a':[1,2,3],'b':[4,5,6]}
df=pd.DataFrame(data)
print(df)

print()

df.loc[[0,2] ]

   a  b
0  1  4
1  2  5
2  3  6

   a  b
0  1  4
2  3  6

In [27]:
# Use custom labels for dataframe

data={'a':[1,2,3],'b':[4,5,6]}

df=pd.DataFrame(data,index=["row1","row2","row3"])
print(df)

      a  b
row1  1  4
row2  2  5
row3  3  6

In [32]:
# Use custom labels for dataframe

data={'a':[1,2,3],'b':[4,5,6]}   # We can also change the columns name.

df=pd.DataFrame(data,index=["row1","row2","row3"])  
print(df)

      a  b
row1  1  4
row2  2  5
row3  3  6

In [37]:
# Locate Named Indexes-returns series

data={'a':[1,2,3],'b':[4,5,6]}

df=pd.DataFrame(data,index=["row1","row2","row3"])  
print(df)

print()

df.loc['row1']

df.loc[['row1','row2']]

      a  b
row1  1  4
row2  2  5
row3  3  6

      a  b
row1  1  4
row2  2  5

# Load Files Into a Dataframe using Pandas

In [1]:
# Read from Url

import pandas as pd
url = 'https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv'
pd.read_csv(url)

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

# Loading csv Files

In [3]:
df=pd.read_csv("data.csv")

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

# Analysing Data

In [5]:
# to Display first 10 rows of the Dataframe

df.head(10)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [6]:
# To display last 10 Rows of the Dataframe

df.tail(10)

     Duration  Pulse  Maxpulse  Calories
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [7]:
# To display Information about the data -5 empty values

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [11]:
# Display the datatype using attribute

df.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [12]:
# Display the shape of the Dataframe

df.shape

(169, 4)

In [13]:
df.describe

<bound method NDFrame.describe of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>

# Cleaning Data

- Empty cells

- Data in wrong format

- wrong Data

- Duplicates

In [6]:
# Step 1: Analyse the data set for bad data.

df=pd.read_csv("dirtydata.csv")

print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [7]:
# step 2: Remove empty cells

# dropna() method returns a new dataframe,it will not change the original

import pandas as pd

new_df=df.dropna()

print(new_df.head(25))

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0

In [8]:
#Step2: Remove empty cells
#dropna() method returns a new DataFrame, it will not change the original.

new_df = df.dropna()
new_df.head(25)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0

In [9]:
df.head(25)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0

In [10]:
# dropna(inplace=True) will NOT return a new Dataframe,but it will remove all rows containg NULL values from the original DataFrame.

df.dropna(inplace=True)

In [12]:
#fillna(value,inplace = True ) replaces the empty cells with default value.

df.fillna(60,inplace=True)

In [13]:
#replace empty values for one column

df['Calories'].fillna(60,inplace=True)
df.head(25)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0

In [15]:
df=pd.read_csv("dirtydata.csv")
print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

# Mean,Median,Mode

In [8]:
# Repalce the empty cell of particular colunm with mean value -

# He sum of all values divided by number of values

import pandas as pd

df=pd.read_csv("dirtydata.csv")
# print(df)

m=df['Calories'].mean()
df['Calories'].fillna(m,inplace=True)
df.head(30)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45           NaN    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00

In [10]:
# Now let us print a Mean Value

import pandas as pd

df=pd.read_csv("dirtydata.csv")
# print(df)

m=df['Calories'].mean()
df['Calories'].fillna(m,inplace=True)
df.head(30)

print("The mean value is :",m)

The mean value is : 304.68

In [12]:
# Replace the empty cell of particular column with median value -

# The value in the middle,after sorting in ascending Order.

Median_Value=df['Calories'].median()
df['Calories'].fillna(m,inplace=True)
df.head(25)

print("The median value is ",Median_Value)

The median value is  300.0

In [17]:
# Replace the empty cell of particular column with mode - 
# The value that appears most frequently.

Mode=df['Calories'].mode()
df['Calories'].fillna(Mode,inplace=True)
print("The Mode value is :",Mode)

The Mode value is : 0    300.0
Name: Calories, dtype: float64

In [20]:
# Convert all cells in the 'Date' column into Date

df=pd.read_csv("dirtydata.csv")
print(df)

print()

df['Date']=pd.to_datetime(df['Date'])

print(df)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [22]:
df.dropna(subset=['Date'],inplace=True)
print(df)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [23]:
# Fix Wrong values for a Specific row

df.loc[7,'Duration']=60
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         60 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

In [31]:
# Replace wrong data for larger data sets with Looping.

for i in df.index:
    if df.loc[i,'Duration']>60:
        df.loc[i,'Duration']=60
print(i)

## Doubt

31

In [32]:
# Delete wrong data for larger data sets with looping.

for i in df.index:
    if df.loc[x,'Duration']>60:
        df.drop[x,inplace=True]

SyntaxError: invalid syntax (894812691.py, line 5)

# Removing Duplicates

In [33]:
# Identified duplicate rows-return True if a row is duplicated.

df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [36]:
# Count the duplicate Rows

print("The number of duplicate value is :",df.duplicated().sum())

The number of duplicate value is : 1

In [37]:
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7         60 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

# Data Correlations

- Finding the relation between the columns

- Ignore Non-numeric values

- Varies from -1 to 1

- Perfect corelation :1
    
- Good Corelation :-0.9,0.9
    
- Corelation limit : -0.6.0.6

In [38]:
df.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.090456 -0.288444  0.287573
Pulse    -0.090456  1.000000  0.269000  0.510361
Maxpulse -0.288444  0.269000  1.000000  0.352529
Calories  0.287573  0.510361  0.352529  1.000000

# Practice Data for a Example

In [39]:
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300